/* add your CSS here */
img {
 height: 300px;
    width: 300px;	
}
ul {
  list-style-type: none;
  font-style: italic;
}

p1 {
	  font-style: italic;

}

a  {
font-weight: bold;
}

body {
	border-style: solid;
	display:table;
}

.wtf {border-style: solid;
display:table;
}